{% extends 'index.html' %}

{% block content %}

<div class="bodyContent allWidth np-t">
    <div class="carouselContainer allWidth">
        <div class="cardBox">
            <div class="card ovrflow-y whole-display">

                <div class="cardTitle">
                    <div class="cardName txt-black">
                        Administración del Sistema de Reservas
                    </div>
                </div>

                <div class="cardContent no-pa-l allWidth inline-flex">
                    <div class="cardSubContent">
                        Gestor de Usuarios
                    </div>

                    <div class="cardSubContent">
                        Gestor de Habitaciones
                    </div>

                    <div class="cardSubContent">
                        Gestor de Reservas
                    </div>

                    <div class="cardSubContent">
                        Gestor de Comentarios
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}