{% extends 'index.html' %}

{% block content %}

<div class="bodyContent allWidth np-t">
    <div class="carouselContainer allWidth">
        <div class="cardBox">
            <div class="card ovrflow-y whole-display">

                <div class="cardTitle">
                    <div class="cardName txt-black">
                        Administración del Sistema de Reservas
                    </div>
                </div>

                <div class="cardContent no-pa-l allWidth inline-flex">

                    <div class="cardSubContent">
                            <a class="select_button nav-menu-link"  href="{{url_for('api.gUser')}}" style="background-color: #0769e9">
                                Gestor de Usuarios
                            </a>
                    </div>

                    <div class="cardSubContent">
                            <a class="select_button nav-menu-link"  href="{{url_for('api.gRooms')}}" style="background-color: #0769e9">
                            Gestor de Habitaciones
                            </a>
                    </div>

                    <div class="cardSubContent">
                            <a class="select_button nav-menu-link"  href="{{url_for('api.gReservation')}}">
                                Gestor de Reservas
                            </a>                        
                    </div>

                    <div class="cardSubContent">
                            <a class="select_button nav-menu-link"  href="{{url_for('api.gComments')}}" >
                                Gestor de Comentarios
                            </a>
                    </div>

                    <div class="cardSubContent">
                            <a class="select_button nav-menu-link"  href="{{url_for('api.logout', rol=session['rol'])}}">
                              Log out
                            </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}