{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <script src="{{ url_for('static', filename='js/datePicker.js') }}"></script>
{% endblock %}

{% block content %}

{% if url.split("/")[1] == "user" %}
<div class="container">
    {% with messages = get_flashed_messages() %}         
        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert" role="alert">
            <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                text: "{{message}}",
                showConfirmButton: true,
            })</script>
        </div>
        {% endfor %}
        {% endif %}

    {% endwith %} 
    <br>
    <div class="dateRange" style="display: flex;">
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: max-content">
            <i class="fa-solid fa-calendar"></i>&nbsp;
            Deperture
            <span id="initialDatePicked"></span>
            Return
            <span id="finalDatePicked"></span>
            <i class="fa fa-caret-down"></i>
        </div>
        <a>
            <button type="submit" form="home">Reserve</button>
        </a>

        <a href="{{ url_for('user.cancel') }}">
            <button type="submit" >Cancel</button>
        </a>
        
    </div>
    <form id="home"  method="POST" action="{{ url_for('user.user') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input id="dateInit" name="dateInit" type="text" readonly style="visibility: hidden">
        <input id="dateFinal" name="dateFinal" type="text" readonly style="visibility: hidden">
    </form>

</div>
{% endif %}
<div class="bodyContent allWidth np-t">
    <div class="carouselContainer allWidth">
        <div class="cardBox">
            <div class="card ovrflow-y whole-display">

                <div class="cardTitle">
                    <div class="cardName txt-black">
                        Sistema de reservas de habitaciones en línea
                    </div>
                </div>

                <div class="cardContent no-pa-l allWidth inline-flex">
                    <div class="cardSubContent">
                        <img class="image" src="https://static.abc.es/Media/201504/27/hotel12--644x362.jpg" alt="">
                    </div>

                    <div class="cardSubContent">
                        <img class="image" src="https://www.hotelcapital.com.co/uploads/galeriahabitaciones/GHL-Capital-acomodacion-estandar.jpg" alt="">
                    </div>
                </div>


                <div class="card_footer">
                    <ul class="ul-footer">
                        <li>Servicio de habitación 24 horas</li>
                        <li>Atención al cliente personalizada</li>
                        <li>Servicio de lavanderia las 24/7 horas</li>
                        <li>Prensa diaria solicitada por el cliente</li>
                        <li>Servicio de parqueadero privado</li>
                        <li>Servicio de hidromasajes, SPA, GYM</li>
                        <li style="margin-left: 0;">Internet con cobertura total en todo el hotel</li>
                    </ul>
                    <p>Es necesario registrarse para realizar reservas de habitaciones</p>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}