{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <script src="{{ url_for('static', filename='js/datePicker.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container" style="display: none">
    <h1>{{title}}</h1>
    <p>{{description}}</p>

    <div class="dateRange" style="display: flex;">
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: max-content">
            <i class="fa-solid fa-calendar"></i>&nbsp;
            Deperture
            <span id="initialDatePicked"></span>
            return
            <span id="finalDatePicked"></span>
            <i class="fa fa-caret-down"></i>
        </div>
        <button type="submit" form="home">Search</button>
    </div>
    <form id="home"  method="POST" action="{{ url_for('api.homePost') }}">
        <input id="dateInit" name="dateInit" type="text" readonly style="visibility: hidden">
        <input id="dateFinal" name="dateFinal" type="text" readonly style="visibility: hidden">
    </form>
</div>

<div class="bodyContent allWidth np-t">
    <div class="carouselContainer allWidth">
        <div class="cardBox">
            <div class="card ovrflow-y whole-display">

                <div class="cardTitle">
                    <div class="cardName txt-black">
                        Sistema de reservas de habitaciones en línea
                    </div>
                </div>

                <div class="cardContent no-pa-l allWidth inline-flex">
                    <div class="cardSubContent">
                        <img class="image" src="https://static.abc.es/Media/201504/27/hotel12--644x362.jpg" alt="">
                    </div>

                    <div class="cardSubContent">
                        <img class="image" src="https://www.hotelcapital.com.co/uploads/galeriahabitaciones/GHL-Capital-acomodacion-estandar.jpg" alt="">
                    </div>
                </div>


                <div class="card_footer">
                    <ul class="ul-footer">
                        <li>Servicio de habitación 24 horas</li>
                        <li>Atención al cliente personalizada</li>
                        <li>Servicio de lavanderia las 24/7 horas</li>
                        <li>Prensa diaria solicitada por el cliente</li>
                        <li>Servicio de parqueadero privado</li>
                        <li>Servicio de hidromasajes, SPA, GYM</li>
                        <li style="margin-left: 0;">Internet con cobertura total en todo el hotel</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}