{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <script src="{{ url_for('static', filename='js/datePicker.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>

    <div class="dateRange" style="display: flex;">
        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: max-content">
            <i class="fa-solid fa-calendar"></i>&nbsp;
            Deperture
            <span id="initialDatePicked"></span>
            return
            <span id="finalDatePicked"></span>
            <i class="fa fa-caret-down"></i>
        </div>
        <button type="submit" form="home">Search</button>
    </div>
    <form id="home"  method="POST" action="{{ url_for('api.homePost') }}">
        <input id="dateInit" name="dateInit" type="text" readonly style="visibility: hidden">
        <input id="dateFinal" name="dateFinal" type="text" readonly style="visibility: hidden">
    </form>
</div>
{% endblock %}