<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/card.css') }}" rel="stylesheet" />
    {% block css %}{% endblock %}
    <script src="https://kit.fontawesome.com/e81ff50e3b.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if url != "/admin/" %}
        {% include 'layouts/navigation.html' %}
    {% endif %}
   
    {% block content %}{% endblock %}
</body>
</html>