<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/card.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/navigation.css') }}" rel="stylesheet" />
</head>
<body>
    {% include 'layouts/navigation.html' %}
    <div class="bodyContent">
        <div class="carouselContainer signin">
            <div class="cardBox">
                <div class="card login">

                    <div class="cardTitle">
                        <div class="numbers" id="numPos">
                            <img src="{{ url_for('static', filename='img/icons8-login-67.png') }}" alt="">
                        </div>
                        <div class="cardName txt-black">
                            Sign-in
                        </div>
                    </div>

                    <div class="cardContent no-pa-l">
                        <form id="login"  method="POST" action="{{ url_for('api.loginPost') }}">
                           <div class="username">
                                <label for="login_field">Username or email address</label>
                                <input type="text" id="login_field" name="login"
                                       class="form-control"
                                       autocapitalize="off" autocorrect="off"
                                       autocomplete="username"
                                       autofocus="autofocus" required
                                       oninvalid="this.setCustomValidity('Input username')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                            <div class="password">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password"
                                       class="form-control" autocomplete="current-password"
                                       required oninvalid="this.setCustomValidity('Input password')"
                                       oninput="this.setCustomValidity('')">
                                <a href="" class="label-link" tabindex="0">Forgot password?</a>
                                <button type="submit" form="login" class="submit-btn">
                                    Submit
                                </button>
                                <a href="/signup"><label class="register">Register</label></a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
</body>
</html>