<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />
<!-- {% block css %}{% endblock %} -->
<link href="{{ url_for('static', filename='css/navBar.css') }}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="https://kit.fontawesome.com/e81ff50e3b.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/datePicker.js') }}"></script>