{% block css %}
    <link href="{{ url_for('static', filename='css/navigation.css') }}" rel="stylesheet" />
{% endblock %}

{% if url != "/admin" %}
<header class="header">
    <nav class="nav">
        <a href="/" class="logo nav-link">
            <img src="{{ url_for('static', filename='img/icons8-hamburger-48.png') }}" alt="" style="vertical-align: middle;">
            Logo
        </a>
        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a href="/signup" class="nav-menu-link nav-link">
                    Sign up</a>
            </li>
            <li class="nav-menu-item">
                <a href="/signin" class="nav-menu-link nav-link nav-menu-link_active"
                  >Sign in</a>
            </li>
        </ul>
    </nav>
</header>
{% endif %}