.header {
  background-color: #0769e9;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin: 0 auto;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 60px;
  display: flex;
}
.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 60px;
  /* text-transform: uppercase; */
  width: max-content;
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}