{% extends 'index.html' %}|

{% block css %}
    <link href="{{ url_for('static', filename='css/internNav.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/intern.js') }}"></script>
{% endblock %}



{% block content %}
    {% include 'admin/internNav.html' %}
    <div class="main">

        {% include 'admin/topbar.html' %}

        <div class="container mainContainer">

            {% if url.split("/")[2] != "rooms"  %}
                {% include 'admin/userRegister.html' %}
            {% else %}
                {% include 'admin/quicInfo.html' %}
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <br />
                        {% for message in messages %}
                            <div class="alert" role="alert">
                                <script>
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    text: "{{message}}",
                                    showConfirmButton: true,
                                    timer: 5000
                                })</script>
                            </div>
                        {% endfor %}
                {% endif %}
            {% endwith %} 

            {% if url.split("/")[2] != "rooms"  %}
                <div class="details" >
            {% else %}
                <div class="details" style="display: block" >
            {% endif %}
                    {% if url.split("/")[2] != "rooms"  %}
                        {% include 'admin/userInfo.html' %}
                        {% include 'admin/users.html' %}
                    {% else %}
                        {% include 'admin/roomInfo.html' %}
                    {% endif %}
                </div>


        </div>

    </div>
{% endblock %}