<div class="navigation">
    <ul>
        <li>
            <a href="/admin" title="Dashboard">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="title">Dashboard</span></a>

        </li>
        <li>
            <a href="/admin/" title="Register">
                <span class="icon"><i class="fas fa-user-plus"></i></span>
                <span class="title">Register</span></a>
        </li>
        <li>
            <a href="/admin/rooms" title="Room"><span class="icon">
                <i class="fas fa-solid fa-bed"></i></span>
                <span class="title">Room</span></a>
        </li>
        <li>
            <a href="{{url_for('api.logout', rol=session['rol'])}}" title="Sing out"><span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span><span class="title">Sign out</span></a>
        </li>

    </ul>

</div>