<div class="cardBox quickInfo">
    <div class="card">
        <div>
            <div class="numbers">{{ rooms_info.Nrooms }}</div>
            <div class="cardName">Total habitaciones</div>
        </div>
        <div class="iconBox">
            <i class="fas fa-eye" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" id="numPos">{{ rooms_info.NroomsO }}</div>
            <div class="cardName">Habitaciones disponibles</div>
        </div>
        <div class="iconBox">
            <div class="user">
                <i class="fas fa-viruses" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" id="numNeg">{{ rooms_info.Nrooms-rooms_info.NroomsO }}</div>
            <div class="cardName">Habitaciones ocupadas</div>
        </div>
        <div class="iconBox">
            <i class="fas fa-virus-slash"  aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="cardName">Agregar habitacion</div>
        </div>
        <div class="iconBox">
            <a href="{{url_for('admin.create_room')}}">
                <i class="fa-solid fa-plus" aria-hidden="true" ></i>
            </a>
        </div>
    </div>
</div>