<div class="cardBox quickInfo">
    <div class="card">
        <div>
            <div class="numbers">222</div>
            <div class="cardName">Total habitaciones</div>
        </div>
        <div class="iconBox">
            <i class="fas fa-eye" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" id="numPos">222</div>
            <div class="cardName">Habitaciones disponibles</div>
        </div>
        <div class="iconBox">
            <div class="user">
                <i class="fas fa-viruses" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers" id="numNeg">22</div>
            <div class="cardName">Habitaciones ocupadas</div>
        </div>
        <div class="iconBox">
            <i class="fas fa-virus-slash"  aria-hidden="true"></i>
        </div>
    </div>
</div>