<div class="card whole-display">

    <div class="cardContent no-pa-l allWidth inline-flex">
        <div class="cardSubContent">
            <img class="image" src="https://static.abc.es/Media/201504/27/hotel12--644x362.jpg" alt="">
        </div>

        <div class="cardSubContent">
            <img class="image" src="https://www.hotelcapital.com.co/uploads/galeriahabitaciones/GHL-Capital-acomodacion-estandar.jpg" alt="">
        </div>
    </div>


    <div class="card_footer">
        <ul class="ul-footer">
            <li>Servicio de habitación 24 horas</li>
            <li>Atención al cliente personalizada</li>
            <li>Servicio de lavanderia las 24/7 horas</li>
            <li>Prensa diaria solicitada por el cliente</li>
            <li>Servicio de parqueadero privado</li>
            <li>Servicio de hidromasajes, SPA, GYM</li>
            <li style="margin-left: 0;">Internet con cobertura total en todo el hotel</li>
        </ul>
        <p>Es necesario registrarse para realizar reservas de habitaciones</p>
    </div>

</div>