<div class="topbar">
    <div class="toggle" title="Menu" onclick="toggleMenu();"></div>
    {% if url.split("/")[2] != "rooms"  %}

    <div class="search" id="search">
        <div>
            <h4>ID USER</h4>
            <input id="filterIDcase" type="text" class="form-control"
            name="filterIDcase" placeholder="ID case" autofocus />
        </div>
        <div>
            <h4>NAME</h4>
            <input id="filterName" type="text" class="form-control"
            name="filterName" placeholder="name" autofocus />
        </div>
    </div>
    <div class="user">
        <div class="iconBox">
            <i class="fas fa-thin fa-user-secret"></i>
        </div>
    </div>
    {% endif %}

</div>