{% block css %}
    <link href="{{ url_for('static', filename='css/cardInfo.css') }}" rel="stylesheet" />
{% endblock %}

<div class="card caseInfo overflow-y">
    <div class="card_header red">
        <div class="tittle" justi>
            <div class="containHeader">
                <div class="circle">0</div>
                <div class="idCase">
                    <h4>
                        Dierick Brochero
                        </br>
                        ID: {{ user.id }}
                    </h4>
                </div>
            </div>
            <div>
                <a href="/links/<%=url%>/edit">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="card_section">
        <p>Name:
            {{ user.fullName }}
        </p>
    </div>
    <div class="card_section">
        <p>Correo:
            {{ user.email }}
        </p>
    </div>
    <div class="card_section">
        <p>Número:
            {{ user.phone }}
        </p>
    </div>
    <div class="card_section">
        <p>Rol:
            {{ user.rol }}
        </p>
    </div>
    <div class="card_footer">
        <h4>Records: State - mm/dd/yyyy</h4>
        {% if url.split("/")[2] == "edit_user" %}
            <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="POST">
                <button class="btn btn-success btn-block">
                    <a  class="btn-primary" style="color: black">
                        Eliminar</a>
                </button>
            </form>
        {% endif %}
    </div>
</div>
