<div class="recentPatients">
    <div class="cardHeader">
        <h2>Users</h2>
    </div>

    <table>
        <thead>
            <tr>
                <td>User id</td>
                <td>Full Name</td>
                <td>Phone</td>
                <td>email</td>
                <td>Rol</td>
                <td>Photo</td>
                <td>Password</td>
            </tr>
        </thead>
        <tbody id="tbody">
            {% for user in users %}
            <tr>
                <td>
                    <button class="patientState" style="background: red">
                        <a href="/" class="patientState">
                            {{ user.id }}
                        </a>
                    </button>
                </td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.rol }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>