<div class="recentPatients">
    <div class="cardHeader">
        <h2>Patients</h2>
    </div>

    <table>
        <thead>
            <tr>
                <td>User id</td>
                <td>Full Name</td>
                <td>Phone</td>
                <td>email</td>
                <td>Rol</td>
                <td>Password</td>
                <td>Photo</td>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>
                    <button class="patientState" style="background: red">
                        <a href="/" class="patientState">
                            1
                        </a>
                    </button>
                </td>
                <td>Dierick Salvador Brochero Niebles</td>
                <td>3165089884</td>
                <td>dierickbro@gmail.com</td>
                <td>Super admin</td>
                <td>123456789</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>