<div class="formContainer">
    <div class="card cardContain">
        <div class="cardRegisterHeader" onclick="registerMenu()">
            <div>
                <div class="numbers"> <h4>Register user</h4></div>
            </div>
            <div class="registerMenu"></div>
        </div>

        {% if url.split("/")[2] == "edit_user" %}
        <form class="form active" action="{{ url_for('admin.edit_user', user_id=user.id ) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="cardRegister">

                <div class="form-group">
                    <input type="text" class="form-control"
                    name="fullName" value="{{ user.fullName }}" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="email" value="{{ user.email }}" autofocus />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"
                    name="password" placeholder="Password" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="phone" value={{ user.phone }} autofocus />
                </div>
                <div class=" form-group">
                    <select class="roleDropDown"
                        name="rol" autofocus  required>
                        {% if user.rol  == "admin" %}
                            <option value="user">User</option>
                            <option  selected="selected" value="admin">Administrator</option>
                            <option value="superadmin">Super administrator</option>
                        {% elif user.rol == "user" %}
                            <option selected="selected" value="user">User</option>
                            <option value="admin">Administrator</option>
                            <option value="superadmin">Super administrator</option>
                        {% elif user.rol == "superadmin" %}
                            <option value="user">User</option>
                            <option value="admin">Administrator</option>
                            <option selected="selected" value="superadmin">Super administrator</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <p class=button-mb-5>
                    <button class="btn btn-success btn-block">
                    <a  class="btn-primary" style="color: white">
                        Actualizar</a>
                    </button>
                    </p>
                </div>
            </div>
        </form>
        {% else %}
        <form class= "form" action="{{ url_for('admin.rUser') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="cardRegister">

                <div class="form-group">
                    <input type="text" class="form-control"
                    name="fullName" placeholder="Fullname" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="email" placeholder="Email" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="password" placeholder="Password" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="phone" placeholder="Phone" autofocus />
                </div>
                <div class=" form-group">
                    <select class="roleDropDown"
                        name="rol" autofocus  required>
                        <option value="">Rol</option>
                        <option value="user">User</option>
                        <option value="admin">Administrator</option>
                        <option value="superadmin">Super administrator</option>
                    </select>
                </div>

                <div class="form-group">
                    <p class=button-mb-5>
                    <button class="btn btn-success btn-block">
                    <a  class="btn-primary" style="color: white">
                        Register</a>
                    </button>
                    </p>
                </div>
            </div>
        </form>
        {% endif %}

    </div>
</div>