<div class="formContainer">
    <div class="card cardContain">
        <div class="cardRegisterHeader" onclick="registerMenu()">
            <div>
                <div class="numbers"> <h4>Register user</h4></div>
            </div>
            <div class="registerMenu"></div>
        </div>

        <form class= "form" action="{{ url_for('admin.rUser') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="cardRegister">

                <div class="form-group">
                    <input type="text" class="form-control"
                    name="fullName" placeholder="User fullname" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="email" placeholder="Email" autofocus />
                </div>

                <div class="form-group">
                    <select class="roleDropDown"
                        name="patientGender" autofocus  required>
                        <option value="">Gender</option>
                        <option value="2">Male</option>
                        <option value="1">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="password" placeholder="Password" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="address" placeholder="Address Home" autofocus />
                </div>
                <div class="form-group">
                    <input type="date" class="form-control"
                    name="patientBirthdate" autofocus />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                    name="addressWork" placeholder="Address" autofocus />
                </div>
                <div class=" form-group">
                    <select class="roleDropDown"
                        name="rol" autofocus  required>
                        <option value="">Rol</option>
                        <option value="user">User</option>
                        <option value="admin">Administrator</option>
                        <option value="superadmin">Super administrator</option>
                    </select>
                </div>

                <div class="form-group">
                    <p class=button-mb-5>
                    <button class="btn btn-success btn-block">
                    <a  class="btn-primary" style="color: white">
                        Register</a>
                    </button>
                    </p>
                </div>

            </div>

        </form>

    </div>
</div>